@media screen and (max-width:850px){
    .nav-container{
        flex-direction: column;
    }
    .menus{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-text-outside{
        width: 80%;
        margin: auto;
    }
    .banner-img{
        width: 80%;
    }
    .banner-text{
        text-align: center;
    }
    .clickable{
        margin: auto;
    }
}