* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    /* height: 130px; */
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.logo-container img {
    width: 86px;
    /* height: 40px; */
    /* object-fit: cover; */
}

.nav-container {}

.nav-item container {}

.nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.text-g {
    color: #FF42A5;
}

.menus a {
    text-decoration: none;
    color: #3C354F;
}

.menus {
    display: flex;
    color: #3C354F;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    justify-content: end;
    align-items: center;
    gap: 35px;
}

.follow {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}

.banner-container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;


}

.banner-text-outside {
    width: 50%;
    display: flex;
    background-image: url(images/Group-14.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.banner-text {
    width: 100%;
    /* height: 100%; */
    padding-left: 30px;

}

.clickable {
    max-width: fit-content;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.play-like-text {
    color: #0B0223;
    font-size: 2.5rem;
}


.goat-text {
    font-size: 4rem;
    font-weight: 1000;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    text-transform: uppercase;
}

/* .cc{
    justify-content: center;
} */

.click {
    display: flex;
    align-items: center;
    margin-top: 0;

}

.click-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.click img {
    width: 24px;
    margin-right: 10px;

}

.no-download {
    display: flex;
    align-items: center;
}

.no-download-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.no-download img {
    width: 24px;
    margin-right: 10px;

}

.ks {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.ks-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.ks img {
    width: 24px;
    margin-right: 10px;
}

.btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    border: none;
}

.sign-in {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 20px;
}

.go-rogue {
    border-radius: 48px;
    background: #4EC5F7;
}

/* play section */
.play-section {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: center;
}

.play-text-side {}

.play-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}

.play-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-paragraph {
    color: #534C64;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 400;
    width: 55%;
}

.play-img-side {}

.cat {
    position: relative;
    margin-top: -280px;
    margin-left: -100px;
}

/* online section */
.online-games {
    max-width: 1400px;
    margin: 120px auto 120px;


}

.online-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-heading {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online {
    text-align: center;
}

.onine-paragraph {
    margin-top: 16px;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

/* online cards */
.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}

/* hovering cards */
.card img:hover {
    border: 3px solid #F948B2;
    border-radius: 18px;
    opacity: 0.5 dark;
}

.card {
    text-align: center;
}

/* mini cards */
.mini-cards {
    max-width: 1400px;
    /* border: 1px solid red; */
    margin: 120px auto;
}

.first-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;

}

.second-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.mini-card {
    display: flex;
    gap: 16px;
    padding: 10px;
    /* border: 1px solid green; */
    width: 243px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}
.mini-card:hover{
    border: 2px solid #F948B2;
    cursor: pointer;
    color: #F948B2;
}